<h1>Bibliography Information</h1>
<p>Form for Bibliography Information</p>

<h2>Sample database entry number one</h2>
<p><%= @Title_first %></p>
<hr>
<h2>Sample database entry number two</h2>
<p><%= @Title_second %></p>
<hr>
<h2>Sample database entry number three</h2>
<p><%= @Title_third %></p>
<hr>
<h2>Sample database entry number four</h2>
<p><%= @Title_fourth %></p>

<%= @biblios.each do |biblio| %>

    <h2><%= biblio.Title %></h2>
    <p><%= biblio.Author %></p>
    <p><%= biblio.YearOfPub %></p>
    <p><%= biblio.Source %></p>
    <p><%= biblio.PublisherName %></p>
    <p><%= biblio.DOI %></p>
    <p><%= biblio.VolumeNo %></p>
    <p><%= biblio.EvidenceID %></p>
    <p><%= biblio.StatusID %></p>
    <p><%= biblio.Status_2 %></p>
    <p><%= biblio.Rating %></p>
    <p><%= biblio.Comments %></p>
    
    <hr>
<% end %>
