<h1>Users#new</h1>
<p>create a new instance of a user</p>

<%= simple_form_for(@user) do |f| %>
  <%= f.input :user_name %>
  <%= f.input :user_email_id %>
  <%= f.input :user_password %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit %>
<%= end%>