<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SERLER" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "SERLER-admin work flow" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>Workspace
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="container min-height">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>

  <footer>
    <div class="container">©2015 AUT University All Rights Reserved <div class="pull-right">Developed by Team Gamma</div></div>
    
  </footer>
</html>